<ion-header>
  <ion-navbar color="pink">
    <ion-title>Messages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="no-color">
    <ion-item *ngFor="let msgObj of userMessages" (click)="gotoChat(msgObj)">
      <ion-avatar item-left>
        <img [src]='userObj.imageUrl || "assets/icon/provider-person.jpg"'>
      </ion-avatar>
      <p item-right class="time-label"> {{getTimeAgo(msgObj.timestamp)}} </p>
      <h2 class="title" [ngClass]="{'bold-text' : !(msgObj.seenByReceiver)}">{{ msgObj.messageTitle }}</h2>
      <p [ngClass]="{'bold-text' : !(msgObj.seenByReceiver)}"> {{ msgObj.lastMsg }} </p>
    </ion-item>
    <ion-item *ngIf="!userMessages.length">
       <h2>You don't have any message yet</h2>
    </ion-item>
  </ion-list>
</ion-content>
