<ion-content>

    <div no-padding>
      <img  src="assets/icon/login-cover-crop.png" class="title" id="coverImg" />
    </div>

  <ion-list >

    <ion-item padding>
      <ion-label fixed> <img src="assets/icon/person-icon.png"/> </ion-label>
      <ion-input type="text" value="" placeholder="Email" class="color-pink" [(ngModel)]="loginObj.email"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label fixed> <img src="assets/icon/lock-icon.png"/> </ion-label>
      <ion-input type="password" placeholder="Password" class="color-pink" [(ngModel)]="loginObj.password"></ion-input>
    </ion-item>

    <div class="sign-up-container">
      <button ion-button block round (click)="login()" class="sign-in">SIGN IN</button>
      <button ion-button block round (click)="gotoSignup()" class="sign-up">SIGN UP</button>
    </div>

    <div>
      <p class="forgot-password">Fogot Password?</p>
      <p class="social-connect">Sign in with</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-4><img src="assets/icon/facebook-icon.png" class="social-icon" /></ion-col>
        <ion-col col-4><img src="assets/icon/twitter-icon.png" class="social-icon" /></ion-col>
        <ion-col col-4><img src="assets/icon/googlePlus-icon.png" class="social-icon" /></ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>


</ion-content>
