<ion-header>

  <ion-navbar color="pink">
    <ion-buttons end *ngIf="showEditMode">
      <button ion-button icon-only (click)="this.showEditMode = !this.showEditMode">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card class="no-color">

    <ion-item>
      <h2 class="provider-info-heading">Profile Details</h2>
    </ion-item>
          <img [src]=" userObj.imageUrl || 'assets/icon/provider-person.jpg'" class="profile-img">
    <ion-item>
      <button ion-button color="pink" outline block (click)="selectPicture()">Upload Picture</button>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Name</ion-label>
      <ion-label>{{userObj.fullName}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label class="label-info">Name</ion-label>
      <ion-input type="text" color="pink" [(ngModel)]="userObj.fullName"></ion-input>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Gender</ion-label>
      <ion-label>{{userObj.gender}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label class="label-info">Gender</ion-label>
      <ion-label>
        <ion-select [(ngModel)]="userObj.gender" class="genderSelect">
          <ion-option value="Male" selected="true">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
        </ion-select>
      </ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Average Rating</ion-label>
      <ion-label> {{userObj.rating}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Experience</ion-label>
      <ion-label class="whiteSpace"> {{userObj.experience}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label floating class="label-info">Experience</ion-label>
      <ion-input type="text" color="pink" [(ngModel)]="userObj.experience"></ion-input>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Average Rate</ion-label>
      <ion-label> {{userObj.avgRates}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label floating class="label-info">Average Rate</ion-label>
      <ion-input type="text" color="pink" [(ngModel)]="userObj.avgRates"></ion-input>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Further Description</ion-label>
      <ion-label class="whiteSpace"> {{userObj.desc}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label stacked class="label-info">Further Description</ion-label>
      <ion-textarea placeholder="Enter some description" [(ngModel)]="userObj.desc" rows="4"></ion-textarea>
    </ion-item>

    <ion-item>
      <h2 class="provider-info-heading">My Service Location</h2>
    </ion-item>

    <ion-item *ngIf="showEditMode">
      <ion-label class="label-info">Studio Location:</ion-label>
      <ion-label color="dark">{{userObj.location}}</ion-label>
    </ion-item>

    <ion-item *ngIf="!showEditMode">
      <ion-label floating color="dark">Studio Location:</ion-label>
      <ion-input type="text" color="pink" [(ngModel)]="userObj.location"></ion-input>
    </ion-item>

    <ion-item *ngIf="showEditMode">
      <ion-label class="label-info">Service Radius (km):</ion-label>
      <ion-label color="dark">{{userObj.serviceRadius}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label stacked color="dark" style="white-space: normal;" class="label-info">
        Available for service to clients within a radius of (km) from me
      </ion-label>
      <ion-input type="number" color="pink" [(ngModel)]="userObj.serviceRadius"></ion-input>
    </ion-item>

    <!--<ion-item>
      <h2 class="provider-info-heading">Client Search Refinements</h2>
    </ion-item>

    <ion-list radio-group [(ngModel)]="userObj.preferredClients">

      <ion-item class="item-detail other-locations">
        <ion-label class="label-info">Male Clients Only</ion-label>
        <ion-radio value="Male" name="gender" checked color="pink"></ion-radio>
      </ion-item>

      <ion-item class="item-detail other-locations">
        <ion-label class="label-info">Female Clients Only</ion-label>
        <ion-radio value="Female" name="gender" color="pink"></ion-radio>
      </ion-item>

      <ion-item class="item-detail other-locations">
        <ion-label class="label-info">Both Male & Female Clients</ion-label>
        <ion-radio value="Both" name="gender" color="pink"></ion-radio>
      </ion-item>

    </ion-list>-->

    <!--<ion-item>
      <h2 class="provider-info-heading">My Service Locations</h2>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label stacked color="dark" style="white-space: normal;" class="label-info">Available for service to clients within a radius of
        (km) from me
      </ion-label>
      <ion-input type="text" color="pink" [(ngModel)]="userObj.serviceRadius"></ion-input>
    </ion-item>-->

    <!--<ion-item class="item-detail other-locations">
      <ion-label class="label-info">Add other serivce locations?</ion-label>
      <ion-checkbox color="pink" checked="true" [(ngModel)]="userObj.addOtherLocations"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="userObj.addOtherLocations">
      <ion-label stacked color="dark">Add Location</ion-label>
      <ion-input type="text" color="pink"></ion-input>
    </ion-item>-->

    <ion-item>
      <button ion-button color="pink" outline block (click)="saveProfileSettings()">Save Settings</button>
    </ion-item>

  </ion-card>
</ion-content>
