<ion-header>
  <ion-navbar color="pink">
    <ion-title>Client History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/icon/provider-person.jpg">
      </ion-avatar>
      <h2>{{clientName}}</h2>
    </ion-item>

    <img src="assets/icon/provider-person.jpg">

    <ion-item>
      <h2 class="provider-info-heading">Personal Info</h2>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Gender</ion-label>
      <ion-label>Female</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Avg Rate</ion-label>
      <ion-label>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Location</ion-label>
      <ion-label>South Perth</ion-label>
    </ion-item>

    <ion-item>
      <h2 class="provider-info-heading">Service History</h2>
    </ion-item>

    <ion-item class="item-detail">
      <label class="service-detail">June 12, 2016</label>
      <p class="noWhiteSpace">
         He is a very good and respectful client.
      </p>
    </ion-item>

    <ion-item class="item-detail">
      <label class="service-detail">Aug 11, 2016</label>
      <p class="noWhiteSpace">
        Client is good to work with.
      </p>
    </ion-item>

    <ion-item class="item-detail">
      <label class="service-detail">Feb 26, 2017</label>
      <p class="noWhiteSpace">
        Happy to service.
      </p>
    </ion-item>

    <ion-item class="item-detail">
      <label class="service-detail">Mar 10, 2017</label>
      <p class="noWhiteSpace">
        His office is hard to find, but very good client.
      </p>
    </ion-item>

    <ion-item>
      <button ion-button color="primary" outline block (click)="messageProvider()">Send Message</button>
    </ion-item>

  </ion-card>
</ion-content>
