page-client-history {
  .label-info{
    font-weight: 600;
    margin-left: 30px;
  }
  .provider-info-heading{
    font-size: 1.5em;
    color: #c53743;
  }
  .item-md .item-button {
    height: 43px;
  }
  .item-detail{
    margin: -10px !important;
  }
  .service-detail{
    font-weight: 500;
    font-size: 14px;
    margin-left: 30px;
  }
  .card-md {
    background: rgba(255, 255, 255, 0.51) !important;
  }
  .noWhiteSpace{
    white-space: normal !important;
    margin-left: 30px;
    font-size: 15px;
    font-style: italic;
  }
}
