<ion-header>
  <ion-navbar color="pink">
    <ion-buttons end *ngIf="showEditMode">
      <button ion-button icon-only (click)="this.showEditMode = !this.showEditMode">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="no-color">

    <ion-item>
      <h2 class="provider-info-heading">Profile Details</h2>
      <img [src]=" userObj.imageUrl|| assets/icon/provider-person.jpg">

    </ion-item>
        <ion-item>
      <button ion-button color="pink" outline block (click)="selectPicture()">Upload Picture</button>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Name</ion-label>
      <ion-label>{{userObj.fullName}} </ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label class="label-info">Name</ion-label>
      <ion-input type="text" color="pink"  placeholder="Enter full name" [(ngModel)]="userObj.fullName"></ion-input>
    </ion-item>

    <ion-item class="item-detail" *ngIf="showEditMode">
      <ion-label class="label-info">Gender</ion-label>
      <ion-label>{{userObj.gender}}</ion-label>
    </ion-item>

    <ion-item class="item-detail" *ngIf="!showEditMode">
      <ion-label class="label-info">Gender</ion-label>
      <ion-label>
        <ion-select [(ngModel)]="userObj.gender" class="genderSelect">
          <ion-option value="Male" selected="true">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
        </ion-select>
      </ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Average Rating</ion-label>
      <ion-label>{{userObj.rating}}</ion-label>
    </ion-item>

    <!--<ion-item>
      <h2 class="provider-info-heading">Search Refinements</h2>
    </ion-item>

    <ion-item>
      <ion-label>Male poviders only</ion-label>
      <ion-checkbox color="pink" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Female providers only</ion-label>
      <ion-checkbox color="pink"></ion-checkbox>
    </ion-item>-->

    <!--<ion-item>
      <h2 class="provider-info-heading">Search Preferences</h2>
    </ion-item>

    <ion-item>
      <ion-label floating color="dark">Add Location</ion-label>
      <ion-input type="text" color="pink" ></ion-input>
    </ion-item>-->

    <ion-item>
      <button ion-button color="pink" outline block (click)="saveChanges()">Save Settings</button>
    </ion-item>

  </ion-card>
</ion-content>
