page-dashbord {
  .search-bar{
    margin-top: 50px  !important;
    z-index: 1000 !important;
    padding: 0 !important;
  }
  .provider-info{
    .title{
      color: #c53743;
    }
    .rates{
      float: right;
      margin-top: -18px;
      font-weight: 500;
      span{
        font-weight: 400;
        color: #c53743;
      }
    }
    .location{
      float: left;
      color: #7d7d7d;
      font-size: 13px;
    }
    .desc{
      float: left;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      width: calc(100%);
    }
  }
  .label-info{
    font-weight: 600;
    margin-left: 30px;
  }
  .desc-info{
    margin-left: 30px;
  }
  .provider-info-heading{
    font-size: 1.5em;
    color: #c53743;
  }
  .item-md .item-button {
    height: 35px;
  }
  .item-detail{
    margin: -10px !important;
  }
  .item-md h2 {
    font-size: 2rem;
    color: #c53743;
  }
  .swiper-slide {
    overflow-y: scroll !important;
    display: block !important;
  }
  img.profile-picture {
    height: 300px;
  }
  ion-item .item-inner {
    border-bottom: transparent !important;
  }
  .whiteSpace{
    white-space: normal !important;
  }
}

