<ion-header>
  <ion-navbar color="pink">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Local Massage Providers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="margin-top: 10px !important;">

  <ion-slides *ngIf="isSearchEnd">
    <ion-slide *ngFor="let provider of providerList" class="provider-info">
      <div>
        <ion-item>
          <ion-avatar item-left>
            <img [src]='provider.imageUrl || "assets/icon/provider-person.jpg"'>
          </ion-avatar>
          <h2> {{provider.fullName}} </h2>
        </ion-item>
        <img [src]='provider.imageUrl || "assets/icon/provider-person.jpg"' class="profile-picture">
        <ion-item>
          <h2 class="provider-info-heading">Provider Info</h2>
        </ion-item>

        <ion-item class="item-detail">
          <ion-label class="label-info">Gender</ion-label>
          <ion-label> {{provider.gender || 'N/A'}} </ion-label>
        </ion-item>

        <ion-item class="item-detail">
          <ion-label class="label-info">Average Rate</ion-label>
          <ion-label> {{provider.avgRates || 'N/A'}} </ion-label>
        </ion-item>

        <ion-item class="item-detail">
          <ion-label class="label-info">Location</ion-label>
          <ion-label> {{provider.location || 'N/A'}} </ion-label>
        </ion-item>

        <ion-item>
          <h2 class="provider-info-heading">Service Details</h2>
        </ion-item>

        <ion-item class="item-detail">
          <ion-label class="label-info">Availability</ion-label>
          <ion-label> {{provider.availability || 'N/A'}} </ion-label>
        </ion-item>

        <div *ngFor="let service of provider.serviceDetail">
          <ion-item class="item-detail">
            <ion-label class="label-info">{{service.serviceName}}</ion-label>
            <ion-label> {{service.serviceCharges || 'N/A'}} </ion-label>
          </ion-item>
        </div>

        <ion-item class="item-detail">
          <ion-label class="label-info">Experience</ion-label>
          <ion-label> {{provider.experience || 'N/A'}} </ion-label>
        </ion-item>

        <ion-item>
          <h2 class="provider-info-heading">Description</h2>
        </ion-item>

        <ion-item class="item-detail">
          <ion-label class="desc-info whiteSpace"> {{provider.desc || 'N/A'}} </ion-label>
        </ion-item>

        <ion-item>
          <button ion-button color="primary" outline block (click)="messageProvider(provider)">Message Me</button>
          <!--<button ion-button color="pink" outline block (click)="bookReservation()">Hire Me</button>-->
        </ion-item>

      </div>

    </ion-slide>

    <ion-slide *ngIf="!providerList.length">
      <ion-item>
        <h2> No service provider found nearby your location</h2>
      </ion-item>
    </ion-slide>
  </ion-slides>

</ion-content>