<ion-header>

  <ion-navbar color="pink">
    <ion-title>Payment Reservation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div id="paypal-button"></div>
<div id="paypal-credit-button"></div>

  <ion-item>
    <ion-label stacked class="label-info" floating>Amount</ion-label>
    <ion-input type="text" [(ngModel)]="appointmentObj.serviceCharges" name="amount" disabled="true"></ion-input>

  </ion-item>
<button id="payment-btn" ion-button color="pink" outline block  [disabled]="!showFormFields">Pay</button>
</ion-content>