<ion-header>
  <ion-navbar color="pink">
    <ion-title>{{senderObj.fullName || senderObj.name}}</ion-title>
  </ion-navbar>
  <ion-fab right top *ngIf="isProviderProfile">
    <button ion-fab color="darkpink" (click)="showActionSheet()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-header>

<ion-content id="chat" class="chat">
    <div class="messages" *ngIf="userChatList.length">
    <div *ngFor="let msgObj of userChatList" [ngClass]="{'textContainer': findMe(msgObj.sender)}">
      <span class="message" [ngClass]="{'me': findMe(msgObj.sender)}">{{msgObj.text}}</span>
    </div>
  </div>

  <div class="send-Msg">
    <input type="text" placeholder="Message ..." [(ngModel)]="msgText">
    <ion-icon name="md-send" class="send-icon" (click)="sendMessage()"></ion-icon>
  </div>
</ion-content>
