page-message-detail {
  .content-md {
    background-image: url("./../assets/icon/printed-bg.png");
    background-color: rgba(249, 241, 237, 0.48) !important;
  }
  .chat {
    padding-bottom: 50px;

    .header {
      display: block;
      height: 40px;
      width: 100%;
      padding: 0 5px;
      border-bottom: 1px solid #222;
      position: fixed;
      top: 0;
      left: 0;
      background: #f4f4f4;
      h2 {
        font-size: 18px;
        padding: 8px 0;
        margin: 0;
        float: left;
        display: block;
      }
      button {
        margin: 6px 0;
        float: right;
      }
    }

    .messages {
      width: 100%;
      position: absolute;
      margin-top: 8px;
      padding-bottom: 50px;
      overflow-y: scroll;
      .message {
        //width: 85%;
        padding: 10px 20px;
        background: #f3f3f3;
        border: 1px solid #f3f3f3;
        color: #222;
        border-radius: 30px;
        margin: 5px;
        display: table;
        .date {
          display: block;
          font-size: 10px;
        }
        img.avatar {
          width: 35px;
          height: 35px;
          border-radius: 18px;
          display: block;
          float: left;
          margin-right: 5px;
          margin-left: -5px;
        }
      }
      .me {
        //float: right;
        background: #f47882;
        border: 1px solid #f47882;
        color: #ffffff;
        //text-align: right;
        img.avatar {
          float: right;
          margin-left: 9px;
        }
      }
    }

    .textContainer{
      display: flex;
      justify-content: flex-end;
    }
    .send-Msg {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 0 5px;
      width: 100%;
      height: 45px;
      border-top: 1px solid #ece2e2;
      background: #f4f4f4;
      input {
        display: block;
        float: left;
        width: 88%;
        outline: none;
        border: 1px solid #ece2e2;
        border-radius: 3px;
        padding: 4px 5px;
        margin-top: 1px;
        height: 41px;
      }
      .send-icon{
        font-size: 2.2em;
        color: #f47882;
        float: right;
        margin: 5px 10px 0 0;
      }
    }
  }

}
