<ion-header>
  <ion-navbar color="pink">
    <ion-title>Service Quote</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-left>
        <img [src]='userObj.imageUrl || "assets/icon/provider-person.jpg"'>
      </ion-avatar>
      <h2>{{event.clientName}}</h2>
    </ion-item>

    <ion-item>
      <h2 class="provider-info-heading">Service Details</h2>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label-info">Service Time</ion-label>
      <ion-datetime displayFormat="MMM DD, h:mm A"  pickerFormat="MMM DD, h:mm A" [(ngModel)]="event.dateTime" class="dateTimeValue"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label-info">Services</ion-label>
      <ion-input type="text" [(ngModel)]="event.serviceDetail" placeholder="Enter services"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label-info">Service Price</ion-label>
      <ion-input type="text" [(ngModel)]="event.serviceCharges" placeholder="Enter service price"></ion-input>
      <ion-label class="detection-info">You will get AUD {{(((event.serviceCharges) / 100) * 95).toFixed(2)}} after service charges detection.</ion-label>
    </ion-item>

    <ion-item>
      <h2 class="provider-info-heading">Service Location</h2>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label-info">Services</ion-label>
      <ion-input type="text" [(ngModel)]="event.location" placeholder="Enter services"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked class="label-info">Further Description</ion-label>
      <ion-input type="text" [(ngModel)]="event.desc" placeholder="Enter services"></ion-input>
    </ion-item>

    <!--<ion-list radio-group [(ngModel)]="event.addClientLocation">

      <ion-item class="item-detail other-locations">
        <ion-label>My Studio location</ion-label>
        <ion-radio value="myLocation" name="location" checked color="pink"></ion-radio>
      </ion-item>

      <ion-item class="item-detail other-locations">
        <ion-label>Add client's location</ion-label>>
        <ion-radio value="otherLocation" name="location" color="pink"></ion-radio>
      </ion-item>

    </ion-list>-->

    <!--<ion-item *ngIf="event.addClientLocation == 'otherLocation'">
      <ion-label stacked class="label-info">Add Location {{event.addClientLocation}}</ion-label>
      <ion-input type="text" color="pink" [(ngModel)]="event.locationDetail" placeholder="Enter client location"></ion-input>
    </ion-item>-->

    <ion-item>
      <button ion-button color="pink" outline block (click)="finalizeBooking()">Send Service Quote</button>
    </ion-item>

  </ion-card>
</ion-content>
