<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="pink">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="color">
      <button *ngIf="disableClientMenu" ion-item (click)="openPage('close')">
        Search Massage Provider
      </button>
      <button ion-item (click)="openPage('MyAppointmentsPage')">
        My Appointments
      </button>
      <button ion-item (click)="openPage('ClientProfilePage')">
        Account Settings
      </button>
      <button ion-item (click)="openPage('MessagesListPage')">
        Messages
      </button>
      <!--<button ion-item (click)="openPage('close')">
        Clear History
      </button>-->
      <button ion-item (click)="openPage('LoginPage')">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
